#TMSH-VERSION: 16.1.0

cli admin-partitions {
    update-partition Common
}
apm ephemeral-auth ssh-security-config /Common/ssh-security-config {
    ciphers {
        1 {
            cipher-name aes256-ctr
        }
        2 {
            cipher-name aes192-ctr
        }
        3 {
            cipher-name aes128-ctr
        }
    }
    compressions {
        1 {
            compression-name none
        }
    }
    hmacs {
        1 {
            hmac-name hmac-sha2-512
        }
        2 {
            hmac-name hmac-sha2-256
        }
    }
    kex-methods {
        1 {
            kex-method-name diffie-hellman-group-exchange-sha256
        }
    }
}
apm oauth db-instance /Common/oauthdb {
    description "Default OAuth DB."
}
apm policy customization-source /Common/modern { }
apm policy customization-source /Common/standard { }
apm report default-report {
    report-name sessionReports/sessionSummary
    user /Common/admin
}
auth user admin {
    description "Admin User"
    encrypted-password $6$KCgSjJgl$tGII010j8O4sZPA0lDT1j3ltf39pOf28RGeyZ9mQK7R96tmts3oXbzE935p3NvybQXxOleDeDbGBlqQZ6Bq8b/
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell none
}
auth user f5hubblelcdadmin {
    description f5hubblelcdadmin
    encrypted-password 6x6ydRjRiRThWHQWS4V75dmoP7cunT5j
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell none
}
auth user root {
    description root
    encrypted-password $6$5xdFDBuk$scoe0VTLmSsguT9M5ZN6m90VFZIWNGBGaxlI38SpUVJyY0GZVy5ka8Ig3CByp7CtGNVSq.5Z0vKQwC9ypx5H80
    session-limit -1
    shell bash
}
cm cert /Common/dtca-bundle.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca-bundle.crt_181998_2
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDlDCCAnygAwIBAgIDDVfwMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzFh
NDAzNzNmLTllYjEtNDk0YS05OTlkMDA1MDU2MjU0YzYxMB4XDTIyMDIxMDA1NTY0
NFoXDTMyMDIwODA1NTY0NFowLjEsMCoGA1UEAxMjMWE0MDM3M2YtOWViMS00OTRh
LTk5OWQwMDUwNTYyNTRjNjEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDQveRASvW5rcLXiY3sVazmXQeONlevf0pfHFKfmp1BFZ+IFKIoYqx9nYSV7LHo
VeUlSwebOyosWP5NQqUkIAzoonp8s6T86+wb6elkEMsUb1l2aMeyDvoQGmJrjqe0
2iQM5pWTPndw5mVP6El+FRAR+vHH8j+65O3R679GucUbYF0q0ToVScjzm4GWghhJ
sOZYAsNwfDJU4TMsxjs5qdK/3hxaGNBF+6cfZl53Sj8cihZI42fprg5NyqgmCV3H
SKz5a9wjkAjo5VkEA/q3FRYuDgUubA4bMM9NnyMRXkyT172ROmXF9FggGto+Yf2h
FVSLPYhvgS9nf3x+UWg6+KqlAgMBAAGjgbowgbcwGwYDVR0RBBQwEoIQYmlnaXAx
LmY1dHJuLmNvbTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBtjAdBgNV
HQ4EFgQUp+Te+qjw2F2T21uBIFT69Qoy+RIwWAYDVR0jBFEwT4AUp+Te+qjw2F2T
21uBIFT69Qoy+RKhMqQwMC4xLDAqBgNVBAMTIzFhNDAzNzNmLTllYjEtNDk0YS05
OTlkMDA1MDU2MjU0YzYxggMNV/AwDQYJKoZIhvcNAQEFBQADggEBAAUMP/EOuGru
dZ8p3r6h2NgM1kF+ImodDzONp41EBoSoRatpAmYy+9HhW8ZNTSdmTHfD2Ei7BNOa
8HsgMEroZNlOyTUskARX7UwPByQpM8EAdKQQRdnTD07nxaEPYTuzflNCZJ63zZrd
ayFv/NR7BHbh59Qo5hu1hzPHIDKufsR68p5S6pskv6WPQSt8JTVAnbJ0nS386nHV
CkLpgXGVh3i07Rqf+0rOt5PyPc99g9PpgYSU0yQegNCSuikOqOHOKQWrG/IzR68q
mTekLl1Hd7RMTOluGbwfPiXERpc0yrivsIgPhgc3e9ZEQARpnVieSb2b29OvZUh1
9ku/dBgWtdw=
-----END CERTIFICATE-----
"
    checksum SHA1:1302:882070b3a0ba5376fb40212d05d17b3b2d4ab1ce
    revision 2
}
cm cert /Common/dtca.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca.crt_181994_2
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDlDCCAnygAwIBAgIDDVfwMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzFh
NDAzNzNmLTllYjEtNDk0YS05OTlkMDA1MDU2MjU0YzYxMB4XDTIyMDIxMDA1NTY0
NFoXDTMyMDIwODA1NTY0NFowLjEsMCoGA1UEAxMjMWE0MDM3M2YtOWViMS00OTRh
LTk5OWQwMDUwNTYyNTRjNjEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDQveRASvW5rcLXiY3sVazmXQeONlevf0pfHFKfmp1BFZ+IFKIoYqx9nYSV7LHo
VeUlSwebOyosWP5NQqUkIAzoonp8s6T86+wb6elkEMsUb1l2aMeyDvoQGmJrjqe0
2iQM5pWTPndw5mVP6El+FRAR+vHH8j+65O3R679GucUbYF0q0ToVScjzm4GWghhJ
sOZYAsNwfDJU4TMsxjs5qdK/3hxaGNBF+6cfZl53Sj8cihZI42fprg5NyqgmCV3H
SKz5a9wjkAjo5VkEA/q3FRYuDgUubA4bMM9NnyMRXkyT172ROmXF9FggGto+Yf2h
FVSLPYhvgS9nf3x+UWg6+KqlAgMBAAGjgbowgbcwGwYDVR0RBBQwEoIQYmlnaXAx
LmY1dHJuLmNvbTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBtjAdBgNV
HQ4EFgQUp+Te+qjw2F2T21uBIFT69Qoy+RIwWAYDVR0jBFEwT4AUp+Te+qjw2F2T
21uBIFT69Qoy+RKhMqQwMC4xLDAqBgNVBAMTIzFhNDAzNzNmLTllYjEtNDk0YS05
OTlkMDA1MDU2MjU0YzYxggMNV/AwDQYJKoZIhvcNAQEFBQADggEBAAUMP/EOuGru
dZ8p3r6h2NgM1kF+ImodDzONp41EBoSoRatpAmYy+9HhW8ZNTSdmTHfD2Ei7BNOa
8HsgMEroZNlOyTUskARX7UwPByQpM8EAdKQQRdnTD07nxaEPYTuzflNCZJ63zZrd
ayFv/NR7BHbh59Qo5hu1hzPHIDKufsR68p5S6pskv6WPQSt8JTVAnbJ0nS386nHV
CkLpgXGVh3i07Rqf+0rOt5PyPc99g9PpgYSU0yQegNCSuikOqOHOKQWrG/IzR68q
mTekLl1Hd7RMTOluGbwfPiXERpc0yrivsIgPhgc3e9ZEQARpnVieSb2b29OvZUh1
9ku/dBgWtdw=
-----END CERTIFICATE-----
"
    checksum SHA1:1302:882070b3a0ba5376fb40212d05d17b3b2d4ab1ce
    revision 2
}
cm cert /Common/dtdi.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtdi.crt_181990_2
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDfjCCAmagAwIBAgIDBFV4MA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzFh
NDAzNzNmLTllYjEtNDk0YS05OTlkMDA1MDU2MjU0YzYxMB4XDTIyMDIxMDA1NTY0
OFoXDTMyMDIwODA1NTY0OFowGzEZMBcGA1UEAxMQYmlnaXAxLmY1dHJuLmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALR07jI5rnksD1LWCF2mIKWr
xuDEZT2RJmRPwXsSgATu7K9mKFkve3HScYeopepA+pBiFa5P20EBHny50/bI3P8p
G08WqGECtogA35CUSCwe1m0VEDknO2UXwyLCevVhxUPOqvKB77Tq4vuxNjMAPbVF
OzqUJ3yHwtaebTPNmheFa+fDVqCu/sBUWLQm9Etxo4t8SBC9E0xqTk5LtxcGBRWA
Z15E9QIF70X/ps0vzK1mgEfRW4aCZBc3qogywe8k1nZZNCv2K0WmNcao26aTHOR6
+qQgcRb3+HUbqJxYvof5cMGRuygao38kFXsrFjSL8VBzNre0RE1GzPd9kSosaDkC
AwEAAaOBtzCBtDAbBgNVHREEFDASghBiaWdpcDEuZjV0cm4uY29tMAwGA1UdEwEB
/wQCMAAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdDgQWBBSGo7QUmDtjeIfHt691QSYF
iM+3CDBYBgNVHSMEUTBPgBSn5N76qPDYXZPbW4EgVPr1CjL5EqEypDAwLjEsMCoG
A1UEAxMjMWE0MDM3M2YtOWViMS00OTRhLTk5OWQwMDUwNTYyNTRjNjGCAw1X8DAN
BgkqhkiG9w0BAQUFAAOCAQEAxRKUdRA/V1NfUBM/FWWYp0pJiVNTVVRcZRhu2PGx
or7IToFChDDbxRpU4Z8T4s8pt7ax3egy5tfzTNu8rUfPzWh6vav0gR2y8AgMk0vR
77Egjw7AeLw0remunv30zGxZARK2/NqfXhYbgpd2OCptFzoRUx956hLKjJyvZXH6
7B4ALnuET2KFh47lYW90K3hqQ5Jxnu0i7GGeRaEVk/ftfyRFTJK/SSrJuGAVCVgG
uBJb6OZt1xQlCVfVDkdHS7si6O0UQURK812TP385tCf4CQ2kfNzLKVMqGINCVy9J
KdqNMuy/xsTb1tX0vJmZIdk1JNYWvEBkGHLGgJr567ly+Q==
-----END CERTIFICATE-----
"
    checksum SHA1:1273:50257fce4e0bf8fff636dc85e4a68975c7a7761e
    revision 2
}
cm device /Common/bigip1.f5trn.com {
    active-modules { "BIG-IP, VE, SP LAB|DCVSJYW-YHDVWUJ|Rate Shaping|External Interface and Network HSM, VE|BIG-IP VE, Multicast Routing|Routing Bundle, VE|ASM, VE|SSL, VE|DNS VE Lab  (10K QPS)|Max Compression, VE|Advanced Protocols, VE|SSL Orchestrator, VE|PEM, VE|APM, Lab, VE|AFM, VE (LAB ONLY - NO ROUTING)|Exclusive Version, v12.1.X - 18.X|Advanced Web Application Firewall, VE Lab|DNSSEC|VE, Carrier Grade NAT (AFM ONLY)|PSM, VE" }
    base-mac 00:50:56:25:4c:61
    build 0.0.19
    cert /Common/dtdi.crt
    chassis-id dbf40842-1e4a-1830-9a8df6fa1eff
    edition Final
    hostname bigip1.f5trn.com
    key /Common/dtdi.key
    management-ip 192.168.1.31
    marketing-name "BIG-IP Virtual Edition"
    optional-modules { "Anti-Bot Mobile, VE 25 Mbps" "App Mode (TMSH Only, No Root/Bash)" "IP Intelligence, 1Yr, VE-200M/VE-25M" "IP Intelligence, 3Yr, VE-200M/VE-25M" "PEM URL Filtering, 1Yr, VE-10M LAB, 200M" "PEM URL Filtering, 3Yr, VE-10M LAB, 200M" "Threat Campaigns, 1Yr, VE-200M/VE-25M" "URL Filtering, VE-25M-1G, 500 Sessions, 1Yr" "URL Filtering, VE-25M-1G, 500 Sessions, 3Yr" }
    platform-id Z100
    product BIG-IP
    self-device true
    time-zone US/Eastern
    version 16.1.0
}
cm device-group /Common/device_trust_group {
    auto-sync enabled
    devices {
        /Common/bigip1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm device-group /Common/dos-global-dg {
    devices {
        /Common/bigip1.f5trn.com { }
    }
    full-load-on-sync true
    hidden true
    network-failover disabled
}
cm device-group /Common/gtm {
    devices {
        /Common/bigip1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm key /Common/dtca.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtca.key_181996_2
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDQveRASvW5rcLX
iY3sVazmXQeONlevf0pfHFKfmp1BFZ+IFKIoYqx9nYSV7LHoVeUlSwebOyosWP5N
QqUkIAzoonp8s6T86+wb6elkEMsUb1l2aMeyDvoQGmJrjqe02iQM5pWTPndw5mVP
6El+FRAR+vHH8j+65O3R679GucUbYF0q0ToVScjzm4GWghhJsOZYAsNwfDJU4TMs
xjs5qdK/3hxaGNBF+6cfZl53Sj8cihZI42fprg5NyqgmCV3HSKz5a9wjkAjo5VkE
A/q3FRYuDgUubA4bMM9NnyMRXkyT172ROmXF9FggGto+Yf2hFVSLPYhvgS9nf3x+
UWg6+KqlAgMBAAECggEACo5j1d2EljaDmTdPWlGN3Bt9x5MXdZxUFEHAKuqcg79W
cUEL30t4KiUWYKeW6qc3Xp6v/IluLU51083oQI6vYG9hDt/d2t2Kc/HtF96iin7E
ETEk0iwgOMLA0ewlrodulclubIMW8rpwCq22U744cRRV+FTXpLmxjjFkG61G2sa6
IrhLOfOm6FvgGjdi6e77xZOxbCIa20rCMXDwogUfIbz3+DxsmPMd7ChHkYF8JHCB
ByuPIfSnlFpRCd+ILRR7oL4G40c45RzwWDxGp617yS766Ye9SkI7VXUYG0f4YarZ
YzPT391rwZOOHH95zwuJKibE0EDEXiVJ6XaIGScawQKBgQDu4ueUnp+TazMbBvBj
mxIH3RNDI4IycJyVY6ybkinEdlckKMbn8U1Wvg0/3loqRCMKECVy5X0pmL6kuwnR
zCTQP4JU3coWMCD8b+o/9xJy6lfNRpTmkFdyIrEA9aEBvZpnikpsF75t5f7uSBCD
teCtGrAzq89AOFdQ0XQX8DqKwQKBgQDfsiU+K/Y0/cZZdg+P2fsPo+Vc+c3Mau5R
khfmN9ikEhkiY8RulmXBOrEtccqMsUSemfu1Slfl4nQ9pNjiHeMFR8Ft/aPLL7ue
Ai4+6kBHpG/muSe2cMwl+5sI9NKeMJ1OJPfPOJYmPpCoqSp27IzUQ6kBfuKlQDch
v97VnfmM5QKBgA4Q+Ffs+zKABnNZ9j+3OtmRr/etGJaFwQKe6uQCOElkOn9bk1LH
B6nK6RbQrfh9KJ8IElxwnO0dHGSwysQ6xBQrGS6MHMEvtlGG+YEouEJiACeLN2tY
Jn4HAusui3uBwZzFLNqujz0DZP586dQHmqI2xxdTz5FVf/a3TqG2OIxBAoGAfrpl
7vro2MyMelIwLsbHPO0VG79Jn+1UZlHlyD8LNKgsJRdwSVZa/0VI6v30ShCDV3bU
6rfbZBkO0X16gV99JZipNK7lBE9ecv25RVtgXzYBTyzGGs18WmhYRJKuX4AbHhJD
cdoU9kWrnmF39Te98OMD9Bz2ObhPg4c3rr14iyECgYAuaySFJB7sj1YOg0qi984+
7uBdpKbJ/sSo4VfXpY3ufaH1ml0cNGk+dnnTYKYPzzFkEPc9vnhcT5+Puq7Bxpgm
i90HNDk7jRWcPIkK8IN6iMoGsXH6G4Kcv76dEwFxIv53l48LTjoMetkO/mDpx75J
1Sdywrs3/Ws5U/RXHyctbw==
-----END PRIVATE KEY-----
"
    checksum SHA1:1704:1378a3fcca733399e4eb054a9246154af6d79726
    revision 2
}
cm key /Common/dtdi.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtdi.key_181992_2
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC0dO4yOa55LA9S
1ghdpiClq8bgxGU9kSZkT8F7EoAE7uyvZihZL3tx0nGHqKXqQPqQYhWuT9tBAR58
udP2yNz/KRtPFqhhAraIAN+QlEgsHtZtFRA5JztlF8Miwnr1YcVDzqryge+06uL7
sTYzAD21RTs6lCd8h8LWnm0zzZoXhWvnw1agrv7AVFi0JvRLcaOLfEgQvRNMak5O
S7cXBgUVgGdeRPUCBe9F/6bNL8ytZoBH0VuGgmQXN6qIMsHvJNZ2WTQr9itFpjXG
qNumkxzkevqkIHEW9/h1G6icWL6H+XDBkbsoGqN/JBV7KxY0i/FQcza3tERNRsz3
fZEqLGg5AgMBAAECggEAEZrxzSUa/Dfb89stPEOzni4czDtk3CWPzwwH5oOmyTRt
E2yeRZswCin7iP5fV3QI7fKfxl6El7ot+QGhKAuvIdanEyd0/GfpGmopZX/N7b4B
cely6HyHGyT/FOJP4CYuel/MhjW+htI+nEsM7Fta6dcsANpI4umUzN7ubPYjUSV5
FP4R+rs6WvhbsUOcSAlHdlkp3sT3J688fxgnRRActfIUheTTv9K5+xRBmVcsQAnb
uI7c0Hcj0uTMreZo2Ai3gA/3ynjyvAP1NbW6gfM/4uNsFbQo1DPAP4cy7EEne0JW
lS2x02Ym8V/A/H1BUGWJM7VwKliklVi5nBnWXXxB4QKBgQD1J8TCsdCFecvnKXhu
AfauZArTIWAxwypusGOw3c037TQur50UNT/vZUrhpNL3VBGLGQNoOKL6AnAjBr8j
3jHW4usT3J09a1GDFyPRfAAVzudP8FFMcy8+m6MJ2KrxOZItdYR9XF4lO+iQDkkT
2C8tINEAI4wHGIQP8nLa7ngq0QKBgQC8cH2fgJfSPpYwwOme1ct/EEupP7AV1Mmh
e6B62Uhs+y6ajxIn+8ASUtP+VvJ+9MTyXQlLIHhfR353DTbtrRv6HAE8WYcbHlbu
YJCnAJfRovZqEHCZeCsVggIELN5ZljNg58M/u+bXRLxxU3LHSXrcnsGt0FVn8DD/
bneHi3Jw6QKBgGHNELjfOSHWmhrJN4sja2bc8FiUKw0PIAFyiwLHKZSTI8swMgka
yTvW/A2StLsIpcsJGovcdGAq0tOWYHCNtvJUKpYM4Ando3IZrCdpQZtxpGQGqlhG
Z2Whr2RBNMjxP7i09jsQu1o9USUPHeY1y3REcDyO8dDu3diCz4E5u2TRAoGAKflM
oii8qKI0RivSXgT1TRpOICcFi/dX6lZlSrf3f/77RIY13x4ejHZSrkajwU+4Rtwe
Y9OZvG9qZg5Ve9+habavN8ghZhL9/h8YWXqyVoncJYf/7M9tmV7aIB/2bzIbw6wc
O6gZJT40U3HpESb27QmXzqWnQH2qDFuI2HJhTXECgYBy1co1JlF68Jokn96wM+QA
wyd7Zg5MAmoRs/92V65QUl+bVYXq7QioV3OOCMVq3f2Z68j1vIXUlXnRC2S2rzPx
uMAocdJdEICbiyZbyQ0gHReK9Jvrfr2iRPAuHMqVPq9HqwXtlXf+tsfvUMN//eGU
ycnse6txxxxeoRf7OP07TQ==
-----END PRIVATE KEY-----
"
    checksum SHA1:1704:386c2b7cf02a68ab996e9454c8fff4914e2a36a5
    revision 2
}
cm traffic-group /Common/traffic-group-1 {
    unit-id 1
}
cm traffic-group /Common/traffic-group-local-only { }
cm trust-domain /Common/Root {
    ca-cert /Common/dtca.crt
    ca-cert-bundle /Common/dtca-bundle.crt
    ca-devices { /Common/bigip1.f5trn.com }
    ca-key /Common/dtca.key
    guid 052b3f1b-8b22-4c12-9562005056254c61
    status standalone
    trust-group /Common/device_trust_group
}
gtm global-settings metrics {
    metrics-collection-protocols { icmp }
}
gtm global-settings metrics-exclusions {
    addresses none
}
ilx global-settings {
    debug-port-blacklist { 47019 54321 60000 }
}
ltm default-node-monitor {
    rule none
}
ltm node /Common/10.10.1.30 {
    address 10.10.1.30
}
ltm node /Common/172.16.20.2 {
    address 172.16.20.2
}
ltm pool /Common/ipfix_pool {
    members {
        /Common/172.16.20.2:514 {
            address 172.16.20.2
        }
    }
}
ltm pool /Common/syslog_pool {
    members {
        /Common/10.10.1.30:514 {
            address 10.10.1.30
        }
    }
}
ltm virtual /Common/CGN_vs {
    creation-time 2022-02-15:18:42:03
    destination /Common/0.0.0.0:0
    last-modified-time 2022-02-16:18:34:54
    mask any
    profiles {
        /Common/fastL4 { }
    }
    security-nat-policy {
        policy /Common/CGN_policy
    }
    serverssl-use-sni disabled
    source 0.0.0.0/0
    translate-address enabled
    translate-port disabled
    vlans {
        /Common/subscriber_vlan
    }
    vlans-enabled
}
ltm virtual-address /Common/0.0.0.0 {
    address any
    arp disabled
    icmp-echo disabled
    mask any
    traffic-group /Common/traffic-group-1
}
ltm classification auto-update settings {
    auto-update-interval weekly
    enabled no
}
ltm profile server-ssl /Common/do-not-remove-without-replacement {
    app-service none
}
net dns-resolver /Common/f5-aws-dns {
    forward-zones {
        amazonaws.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        idservice.net {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        shpapi.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
    }
    route-domain /Common/0
}
net interface 1.1 {
    media-fixed 10000T-FD
}
net interface 1.2 {
    media-fixed 10000T-FD
}
net port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
net port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
net route-domain /Common/0 {
    id 0
    vlans {
        /Common/http-tunnel
        /Common/socks-tunnel
        /Common/subscriber_vlan
        /Common/internet_vlan
    }
}
net self /Common/subscriber_f {
    address 10.10.1.33/16
    traffic-group /Common/traffic-group-1
    vlan /Common/subscriber_vlan
}
net self /Common/internet_f {
    address 172.16.1.33/16
    traffic-group /Common/traffic-group-1
    vlan /Common/internet_vlan
}
net self /Common/internet_nf {
    address 172.16.1.31/16
    traffic-group /Common/traffic-group-local-only
    vlan /Common/internet_vlan
}
net self /Common/subscriber_nf {
    address 10.10.1.31/16
    traffic-group /Common/traffic-group-local-only
    vlan /Common/subscriber_vlan
}
net self-allow {
    defaults {
        igmp:0
        ospf:0
        pim:0
        tcp:161
        tcp:22
        tcp:4353
        tcp:443
        tcp:53
        udp:1026
        udp:161
        udp:4353
        udp:520
        udp:53
    }
}
net stp /Common/cist {
    interfaces {
        1.1 {
            external-path-cost 200000
            internal-path-cost 200000
        }
        1.2 {
            external-path-cost 200000
            internal-path-cost 200000
        }
    }
    vlans {
        /Common/internet_vlan
        /Common/subscriber_vlan
    }
}
net vlan /Common/internet_vlan {
    cmp-hash dst-ip
    interfaces {
        1.2 { }
    }
    sflow {
        poll-interval-global no
        sampling-rate-global no
    }
    tag 4094
}
net vlan /Common/subscriber_vlan {
    cmp-hash src-ip
    interfaces {
        1.1 { }
    }
    sflow {
        poll-interval-global no
        sampling-rate-global no
    }
    tag 4093
}
net fdb tunnel /Common/http-tunnel { }
net fdb tunnel /Common/socks-tunnel { }
net fdb vlan /Common/internet_vlan { }
net fdb vlan /Common/subscriber_vlan { }
net ipsec ike-daemon /Common/ikedaemon {
    log-publisher /Common/default-ipsec-log-publisher
}
net tunnels tunnel /Common/http-tunnel {
    description "Tunnel for http-explicit profile"
    profile /Common/tcp-forward
}
net tunnels tunnel /Common/socks-tunnel {
    description "Tunnel for socks profile"
    profile /Common/tcp-forward
}
pem global-settings analytics { }
pem global-settings gx { }
pem global-settings policy { }
security device-id attribute /Common/att01 {
    id 1
}
security device-id attribute /Common/att02 {
    id 2
}
security device-id attribute /Common/att03 {
    id 3
}
security device-id attribute /Common/att04 {
    id 4
}
security device-id attribute /Common/att05 {
    id 5
}
security device-id attribute /Common/att06 {
    id 6
}
security device-id attribute /Common/att07 {
    id 7
}
security device-id attribute /Common/att08 {
    id 8
}
security device-id attribute /Common/att09 {
    id 9
}
security device-id attribute /Common/att10 {
    id 10
}
security device-id attribute /Common/att11 {
    id 11
}
security device-id attribute /Common/att12 {
    id 12
}
security device-id attribute /Common/att13 {
    id 13
}
security device-id attribute /Common/att14 {
    id 14
}
security device-id attribute /Common/att15 {
    id 15
}
security device-id attribute /Common/att16 {
    id 16
}
security device-id attribute /Common/att17 {
    id 17
}
security device-id attribute /Common/att18 {
    id 18
}
security device-id attribute /Common/att19 {
    id 19
}
security device-id attribute /Common/att20 {
    id 20
}
security device-id attribute /Common/att21 {
    id 21
}
security device-id attribute /Common/att22 {
    id 22
}
security device-id attribute /Common/att23 {
    id 23
}
security device-id attribute /Common/att24 {
    id 24
}
security device-id attribute /Common/att25 {
    id 25
}
security device-id attribute /Common/att26 {
    id 26
}
security device-id attribute /Common/att27 {
    id 27
}
security device-id attribute /Common/att28 {
    id 28
}
security device-id attribute /Common/att29 {
    id 29
}
security device-id attribute /Common/att30 {
    id 30
}
security device-id attribute /Common/att31 {
    id 31
}
security device-id attribute /Common/att32 {
    id 32
}
security device-id attribute /Common/att33 {
    id 33
}
security device-id attribute /Common/att34 {
    id 34
}
security device-id attribute /Common/att35 {
    id 35
}
security device-id attribute /Common/att36 {
    id 36
}
security device-id attribute /Common/att37 {
    id 37
}
security device-id attribute /Common/att38 {
    id 38
}
security device-id attribute /Common/att39 {
    id 39
}
security dos ipv6-ext-hdr /Common/dos-ipv6-ext-hdr {
    frame-types { auth dstopt esp frag hbh mobility route }
}
security dos udp-portlist /Common/dos-udp-portlist {
    list-type exclude-listed-ports
}
security firewall config-change-log {
    log-publisher /Common/local-db-publisher
}
security firewall config-entity-id /Common/uuid_entity_id {
    entity-id 4821496098702561619
}
security firewall port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security firewall port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
security firewall rule-list /Common/_sys_self_allow_all {
    rules {
        _sys_allow_all {
            action accept
            ip-protocol any
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_defaults {
    rules {
        _sys_allow_tcp_defaults {
            action accept
            ip-protocol tcp
            destination {
                port-lists {
                    /Common/_sys_self_allow_tcp_defaults
                }
            }
        }
        _sys_allow_udp_defaults {
            action accept
            ip-protocol udp
            destination {
                port-lists {
                    /Common/_sys_self_allow_udp_defaults
                }
            }
        }
        _sys_allow_ospf_defaults {
            action accept
            ip-protocol ospf
        }
        _sys_allow_pim_defaults {
            action accept
            ip-protocol pim
        }
        _sys_allow_igmp_defaults {
            action accept
            ip-protocol igmp
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_management {
    rules {
        _sys_allow_ssh {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    22 { }
                }
            }
        }
        _sys_allow_web {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    443 { }
                }
            }
        }
    }
}
security ip-intelligence policy /Common/ip-intelligence { }
security log profile /Common/CGN_ipfix_logs {
    nat {
        end-inbound-session enabled
        end-outbound-session {
            action enabled
        }
        errors enabled
        log-publisher /Common/ipfix_remote_publisher
        quota-exceeded enabled
        start-inbound-session enabled
        start-outbound-session {
            action enabled
        }
    }
}
security log profile /Common/CGN_logs {
    nat {
        end-inbound-session enabled
        end-outbound-session {
            action enabled
        }
        errors enabled
        log-publisher /Common/log_CGN_local
        log-subscriber-id enabled
        lsn-legacy-mode enabled
        quota-exceeded enabled
        start-inbound-session enabled
        start-outbound-session {
            action enabled
        }
    }
}
security log profile /Common/CGN_remote_logs {
    nat {
        end-inbound-session enabled
        end-outbound-session {
            action enabled
        }
        errors enabled
        log-publisher /Common/syslog_remote_publisher
        quota-exceeded enabled
        start-inbound-session enabled
        start-outbound-session {
            action enabled
        }
    }
}
security nat policy /Common/CGN_policy {
    rules {
        DNAT_rule {
            ip-protocol any
            log-profile /Common/CGN_logs
            source {
                addresses {
                    10.10.1.0/24 { }
                }
            }
            translation {
                source /Common/DNAT
            }
        }
    }
    traffic-group /Common/traffic-group-1
}
security nat source-translation /Common/DNAT {
    addresses {
        40.0.101.0/24 { }
    }
    backup-addresses {
        40.0.201.0/24 { }
    }
    egress-interfaces {
        /Common/internet_vlan
    }
    egress-interfaces-enabled
    inbound-mode endpoint-independent-filtering
    mapping {
        timeout 30
    }
    pat-mode deterministic
    ports {
        64000-64001 { }
    }
    traffic-group /Common/traffic-group-1
    type dynamic-pat
}
security protocol-inspection compliance /Common/http_non_crlf_line_break {
    description "Non CRLF Line Break"
    documentation "As per HTTP protocol specification, each header line should have CRLF (Carriage Return + Line Feed)(
) line break. In real HTTP traffic, we may only see LF (
) as line break. This compliance check comes up for traffic with only LF as a line break."
    id 11018
    performance-impact medium
    protocol "tcp, sctp"
    risk medium
    service /Common/http
    subscription no
}
security protocol-inspection compliance-map /Common/map_10426 {
    insp-id 10426
    key-type int
    value-type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/argument_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/error_message_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_type_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/option_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/option_value_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/response_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_code_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/status_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/tag_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11223
    type int
}
security scrubber profile /Common/scrubber-profile-default {
    advertisement-ttl 300
}
security shared-objects port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security shared-objects port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
sys compatibility-level {
    level 0
}
sys db adm.block.enable {
    value "1"
}
sys db antifraud.encryptionfieldprefix {
    value "__"
}
sys db avr.stats.internal.maxentitiespertable {
    value "2148"
}
sys db log.ftp.level {
    value "Error"
}
sys db tmm.dhcp.client.connection.packets.inprogress.max {
    value "2000"
}
sys db tmm.dhcp.server.connection.packets.inprogress.max {
    value "2000"
}
sys dns {
    name-servers { 172.16.20.1 }
}
sys folder / {
    device-group none
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-1
}
sys folder /Common {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/Drafts {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/dos-common {
    device-group /Common/dos-global-dg
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-local-only
}
sys global-settings {
    gui-setup disabled
    hostname bigip1.f5trn.com
    mgmt-dhcp disabled
}
sys httpd {
    auth-pam-idle-timeout 12000
}
sys management-dhcp /Common/sys-mgmt-dhcp-config {
    request-options { subnet-mask broadcast-address routers domain-name domain-name-servers host-name ntp-servers interface-mtu }
}
sys management-ip 192.168.1.31/16 {
    description configured-statically
}
sys management-ovsdb {
    bfd-disabled
    bfd-route-domain none
    ca-cert-file none
    cert-file none
    cert-key-file none
    disabled
    flooding-type replicator
    log-level info
    logical-routing-type none
    tunnel-maintenance-mode active
}
sys ntp {
    servers { 172.16.20.1 }
    timezone US/Eastern
}
sys provision afm {
    level nominal
}
sys provision ltm {
    level nominal
}
sys snmp {
    agent-addresses { tcp6:161 udp6:161 }
    communities {
        /Common/comm-public {
            community-name public
            source default
        }
    }
    disk-monitors {
        /Common/root {
            minspace 2000
            path /
        }
        /Common/var {
            minspace 10000
            path /var
        }
    }
    process-monitors {
        /Common/bigd {
            max-processes infinity
            process bigd
        }
        /Common/chmand {
            process chmand
        }
        /Common/httpd {
            max-processes infinity
            process httpd
        }
        /Common/mcpd {
            process mcpd
        }
        /Common/sod {
            process sod
        }
        /Common/tmm {
            max-processes infinity
            process tmm
        }
    }
}
sys diags ihealth {
    expiration 30
    no-ihealth false
    options none
    password none
    user none
}
sys dynad settings {
    development-mode false
}
sys ecm cloud-provider /Common/aws-ec2 {
    description "The aws-ec2 parameters"
    property-template {
        account { }
        availability-zone {
            valid-values { a b c d }
        }
        instance-type {
            valid-values { t2.micro t2.small t2.medium m3.medium m3.large m3.xlarge m3.2xlarge c3.large c3.xlarge c3.2xlarge c3.4xlarge c3.8xlarge r3.large r3.xlarge r3.2xlarge r3.4xlarge r3.8xlarge }
        }
        region {
            valid-values { us-east-1 us-west-1 us-west-2 sa-east-1 eu-west-1 eu-central-1 ap-southeast-2 ap-southeast-1 ap-northeast-1 }
        }
    }
}
sys ecm cloud-provider /Common/dnet {
    description "The dnet parameters"
}
sys ecm cloud-provider /Common/vsphere {
    description "The vsphere parameters"
    property-template {
        cloud-host-ip { }
        dhcp-network-name { }
        end-point-url { }
        node-name { }
    }
}
sys fpga firmware-config {
    type standard-balanced-fpga
}
sys log-config publisher /Common/ipfix_remote_publisher {
    destinations {
        /Common/ipfix_remote { }
    }
}
sys log-config publisher /Common/log_CGN_local {
    destinations {
        /Common/alertd { }
        /Common/local-db { }
        /Common/local-syslog { }
    }
}
sys log-config publisher /Common/syslog_remote_publisher {
    destinations {
        /Common/syslog_remote { }
    }
}
sys log-config destination ipfix /Common/ipfix_remote {
    pool-name /Common/ipfix_pool
    transport-profile /Common/udp
}
sys log-config destination remote-high-speed-log /Common/syslog_remote {
    pool-name /Common/syslog_pool
    protocol udp
}
sys sflow global-settings http { }
sys sflow global-settings vlan { }
sys software update {
    auto-check enabled
    auto-phonehome enabled
    frequency weekly
}
sys turboflex profile-config {
    type turboflex-adc
}
wom endpoint-discovery { }
