#TMSH-VERSION: 16.1.0

cli admin-partitions {
    update-partition Common
}
apm ephemeral-auth ssh-security-config /Common/ssh-security-config {
    ciphers {
        1 {
            cipher-name aes256-ctr
        }
        2 {
            cipher-name aes192-ctr
        }
        3 {
            cipher-name aes128-ctr
        }
    }
    compressions {
        1 {
            compression-name none
        }
    }
    hmacs {
        1 {
            hmac-name hmac-sha2-512
        }
        2 {
            hmac-name hmac-sha2-256
        }
    }
    kex-methods {
        1 {
            kex-method-name diffie-hellman-group-exchange-sha256
        }
    }
}
apm oauth db-instance /Common/oauthdb {
    description "Default OAuth DB."
}
apm policy customization-source /Common/modern { }
apm policy customization-source /Common/standard { }
apm report default-report {
    report-name sessionReports/sessionSummary
    user /Common/admin
}
auth user admin {
    description "Admin User"
    encrypted-password $6$7AAHXgIE$FNanepprp0/nH6Z..aKbCLHpfwYXnX4eC2x47BNjm44a56XCbhg//a1crFI2ztHaxwzTTN2vsG9ys7QPjfHap1
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell none
}
auth user f5hubblelcdadmin {
    description f5hubblelcdadmin
    encrypted-password 6x6ydRjRiRThWHQWS4V75dmoP7cunT5j
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell none
}
auth user root {
    description root
    encrypted-password $6$VKUJz5mc$OcimO3DeJmbxlToSL6wXMmwjVHA4No0.iv4cZA2.lpPZxk.7GhUteHb5eDWmfkRwsO9BsDUi/6GNcMkg0I.9.1
    session-limit -1
    shell bash
}
cm cert /Common/dtca-bundle.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca-bundle.crt_175974_1
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDijCCAnKgAwIBAgIDAckrMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzc5
NDQ0ODNhLTM2MTktNDk2My1iYjIzMDA1MDU2MjU0YzYxMB4XDTIyMDYwNzE3NDQz
OVoXDTMyMDYwNDE3NDQzOVowLjEsMCoGA1UEAxMjNzk0NDQ4M2EtMzYxOS00OTYz
LWJiMjMwMDUwNTYyNTRjNjEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDWs2KI4M7N5rJ2U9Ump+PDoOayjHXzEbjmyqWPcI3rWSWZq+n1T9qt+VawbQlV
Hp3tXRf7mE8Jl8jiobIYA34YtuEknbPyT1J+hgyXMsK5uUPW8sv/X9/9oDSYAC+l
TsrMiI+FjUDvGu+QB4h1tkp0Iervf9m4YeqvvMxRgRTky+FoZTp9/LrrvkANISxc
hPKTDy623bPRYzsGACzR61SX4Fyeo9zw2bKaRkyJV49cAfwr9novwIoMkfUP4s1D
BVKImMZvnMhdBfRODPM45ZmABbJIaaSjAKizT0Jhwa62D/YmI7LMRFd1TXENl+w3
DqXAOncO9sJYeE/BhjRQXA+jAgMBAAGjgbAwga0wEQYDVR0RBAowCIIGYmlnaXAx
MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgG2MB0GA1UdDgQWBBSZ9vjS
yufyidiy5Yz4tbprbUteDjBYBgNVHSMEUTBPgBSZ9vjSyufyidiy5Yz4tbprbUte
DqEypDAwLjEsMCoGA1UEAxMjNzk0NDQ4M2EtMzYxOS00OTYzLWJiMjMwMDUwNTYy
NTRjNjGCAwHJKzANBgkqhkiG9w0BAQUFAAOCAQEApsnlfc9BRwy5PyNvq3eXuxzQ
7gYQCvmp8+KdqkeEi+u/dvRtbolfwfmSx8a6SA4sdEbu/p2NpxSiFeHivviKJ0Ld
z2eF7z6/BZMNgFLEyaavQi3CuEQskIyK87n2L91UpJuoY2GTnAaym8rwsKeopMaW
kRM9YlPYcYjG7JlY+ZZPzgFdXqDx5U9g+SXHACVLkRvMDy/q88RghseGvlSszZOF
og7gMUuV1VXSES1+RmoNzOChYs9cvQjDUA7cO00KYexr0ajVtFkpxQvOIpbqDQh5
omMM4BVLIxfjQZRBorDgeoSjHOwRI+ViNWKqGpL8pOLm+LypvSZIqFF3ShbSyQ==
-----END CERTIFICATE-----
"
    checksum SHA1:1289:e126b3ed27ab4831691a762a9791731d0000344f
    revision 1
}
cm cert /Common/dtca.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca.crt_175970_1
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDijCCAnKgAwIBAgIDAckrMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzc5
NDQ0ODNhLTM2MTktNDk2My1iYjIzMDA1MDU2MjU0YzYxMB4XDTIyMDYwNzE3NDQz
OVoXDTMyMDYwNDE3NDQzOVowLjEsMCoGA1UEAxMjNzk0NDQ4M2EtMzYxOS00OTYz
LWJiMjMwMDUwNTYyNTRjNjEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDWs2KI4M7N5rJ2U9Ump+PDoOayjHXzEbjmyqWPcI3rWSWZq+n1T9qt+VawbQlV
Hp3tXRf7mE8Jl8jiobIYA34YtuEknbPyT1J+hgyXMsK5uUPW8sv/X9/9oDSYAC+l
TsrMiI+FjUDvGu+QB4h1tkp0Iervf9m4YeqvvMxRgRTky+FoZTp9/LrrvkANISxc
hPKTDy623bPRYzsGACzR61SX4Fyeo9zw2bKaRkyJV49cAfwr9novwIoMkfUP4s1D
BVKImMZvnMhdBfRODPM45ZmABbJIaaSjAKizT0Jhwa62D/YmI7LMRFd1TXENl+w3
DqXAOncO9sJYeE/BhjRQXA+jAgMBAAGjgbAwga0wEQYDVR0RBAowCIIGYmlnaXAx
MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgG2MB0GA1UdDgQWBBSZ9vjS
yufyidiy5Yz4tbprbUteDjBYBgNVHSMEUTBPgBSZ9vjSyufyidiy5Yz4tbprbUte
DqEypDAwLjEsMCoGA1UEAxMjNzk0NDQ4M2EtMzYxOS00OTYzLWJiMjMwMDUwNTYy
NTRjNjGCAwHJKzANBgkqhkiG9w0BAQUFAAOCAQEApsnlfc9BRwy5PyNvq3eXuxzQ
7gYQCvmp8+KdqkeEi+u/dvRtbolfwfmSx8a6SA4sdEbu/p2NpxSiFeHivviKJ0Ld
z2eF7z6/BZMNgFLEyaavQi3CuEQskIyK87n2L91UpJuoY2GTnAaym8rwsKeopMaW
kRM9YlPYcYjG7JlY+ZZPzgFdXqDx5U9g+SXHACVLkRvMDy/q88RghseGvlSszZOF
og7gMUuV1VXSES1+RmoNzOChYs9cvQjDUA7cO00KYexr0ajVtFkpxQvOIpbqDQh5
omMM4BVLIxfjQZRBorDgeoSjHOwRI+ViNWKqGpL8pOLm+LypvSZIqFF3ShbSyQ==
-----END CERTIFICATE-----
"
    checksum SHA1:1289:e126b3ed27ab4831691a762a9791731d0000344f
    revision 1
}
cm cert /Common/dtdi.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtdi.crt_175966_2
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDfjCCAmagAwIBAgIDASWmMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTIzQ3
ZmU5MjI2LTFhYzYtNDQ0MS04YmU0MDA1MDU2MjU0YzYxMB4XDTIyMDIwOTE1NTAy
NFoXDTMyMDIwNzE1NTAyNFowGzEZMBcGA1UEAxMQYmlnaXAxLmY1dHJuLmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANDhF6xqwuksPoSwS7TQ82gt
/AAml1htILmXVsHmGLuTWVQGzpIohpmCatBOP+bt/oSlTWy/dBICp7BAtSQON6WE
6YRN/k0uLl4g5I6kdJNYtOz9X/4/i6eU7FrBu4p3psmMmHWy9RXTRSSanLHwR9xF
Q/C3QgrVYaQU0hGKvC0m9AVOvvKUjIF93FfcZSipDV0XRBsfkSbdHk4m0Us/Rw4L
BiddSTXscKfljnDj/HBJfR4ImovKTec+e7AN99AgqE2r6PQs13o3ZfwiGv3Rxeoi
3vUSgnX5rzn6DMHpeHoN5qVO+cHgHWKzxGdfCTbWUh9R5R24iIlZzRSr6lQdvBMC
AwEAAaOBtzCBtDAbBgNVHREEFDASghBiaWdpcDEuZjV0cm4uY29tMAwGA1UdEwEB
/wQCMAAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdDgQWBBSf98IsIkPV6vOeGwSxZ5US
uzBbGzBYBgNVHSMEUTBPgBSVz7R7+jMdareR8sKRoQelzYTPyqEypDAwLjEsMCoG
A1UEAxMjNDdmZTkyMjYtMWFjNi00NDQxLThiZTQwMDUwNTYyNTRjNjGCAwKOEzAN
BgkqhkiG9w0BAQUFAAOCAQEAB9ag8ZS5gllXLDhNmftvVM37PyTvqVMufqSJG4dx
JvK2WBvF8f3mRQmCRh8O8C09TrJE5lYJfyCSYoz/Tcj5fuurtGyau5sFdjlmMLaJ
j+Di8t+q7Sr5FXWpQo1XMGkXTDA+YR5I56zW8/uLcipDnrhldqNN0hH9c3+zpj7b
MjGZaD27nvPl4URJn1GXQirA9+bSBriqlCsDhtfwGmLRCek+IQLnvTnw4F8uZsuI
SZX4fYJQj6Wanf7fsDrBWPyYgQpFrowFueYsBt+lBuWZ8C3/ANE34Kg9cH9GTs+/
T2B1K80s1RzDE8vTLq4vNBGtvwQ2MzPyjZpw7vdUybrX1Q==
-----END CERTIFICATE-----
"
    checksum SHA1:1273:9b0d86830fa8d80da93e1751fbe60868230c6313
    revision 2
}
cm device /Common/bigip1.f5trn.com {
    active-modules { "BIG-IP, VE, SP LAB|DCVSJYW-YHDVWUJ|Rate Shaping|External Interface and Network HSM, VE|BIG-IP VE, Multicast Routing|Routing Bundle, VE|ASM, VE|SSL, VE|DNS VE Lab  (10K QPS)|Max Compression, VE|Advanced Protocols, VE|SSL Orchestrator, VE|PEM, VE|APM, Lab, VE|AFM, VE (LAB ONLY - NO ROUTING)|Exclusive Version, v12.1.X - 18.X|Advanced Web Application Firewall, VE Lab|DNSSEC|VE, Carrier Grade NAT (AFM ONLY)|PSM, VE" }
    base-mac 00:50:56:25:4c:61
    build 0.0.19
    cert /Common/dtdi.crt
    chassis-id dbf40842-1e4a-1830-9a8df6fa1eff
    edition Final
    hostname bigip1.f5trn.com
    key /Common/dtdi.key
    management-ip 192.168.1.31
    marketing-name "BIG-IP Virtual Edition"
    optional-modules { "Anti-Bot Mobile, VE 25 Mbps" "App Mode (TMSH Only, No Root/Bash)" "IP Intelligence, 1Yr, VE-200M/VE-25M" "IP Intelligence, 3Yr, VE-200M/VE-25M" "PEM URL Filtering, 1Yr, VE-10M LAB, 200M" "PEM URL Filtering, 3Yr, VE-10M LAB, 200M" "Threat Campaigns, 1Yr, VE-200M/VE-25M" "URL Filtering, VE-25M-1G, 500 Sessions, 1Yr" "URL Filtering, VE-25M-1G, 500 Sessions, 3Yr" }
    platform-id Z100
    product BIG-IP
    self-device true
    time-zone America/Los_Angeles
    version 16.1.0
}
cm device-group /Common/device_trust_group {
    auto-sync enabled
    devices {
        /Common/bigip1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm device-group /Common/dos-global-dg {
    devices {
        /Common/bigip1.f5trn.com { }
    }
    full-load-on-sync true
    hidden true
    network-failover disabled
}
cm device-group /Common/gtm {
    devices {
        /Common/bigip1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm key /Common/dtca.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtca.key_175972_2
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDN2fNEHeZmv8qf
9iVvy80TcKb4kIuF30y1FHp1U1b26k04gIXaQrokGmYn1hsnmeTO5XJs10MwHFIw
zK2kmGj5Gb7z5StuvX4pGWERs7yISfNwKHzqSFkBN2DOaSexiKQcPLqE2A2dKh/M
USmwjpX5/AiNIE6+CmReD53g8wZrDVAqCvVTgcicryWGcBEeJRYew7v1ZcGz3Ys/
I14r+OnTw2JpsdnAjZuGQHK/Ax7CBduEr0wEw+q7z6p+fcg1/iOsmN/myHPHZ5kt
Wz3pg0oheEb3mtbU5B+J7HIaTL31JpohbHgrhcbhJrfZE/skLmBRLYNjXnO0x/fG
Hp//+LMJAgMBAAECggEAI1ILUJvExcqQzOOiRs10UaqZq7q5he3rroJmBK2ZFWLc
fx5mWS3r3Hf/IUS2ghQA05NBD/XbnGyvmZn1DXHtSRim0Bh5XFX9SLYHFs99QPFX
aN45mMVzKCdFYAVg/zBP4Fx3MIYVx+rLa/ZdLeM5Tpx1Jyns+OS1lgId99QbPNDM
Jsde7CJL5q7Ycb3t25uw06E3F1glD7p5Uf4uvFPAdfSliU30YyMbqT9wxOt2XeF+
SabNKagdhsCIZolMR6QM/VlOWJLZr/jc98ZQc8SUE4U1W0ZD+li2ErZD0jo0GC+i
RDBEwGpOLc+2cvOeyPf3o8WJ3d6tmbA9pphdYlJ50QKBgQDtbsfqOPdYy5j2tj0w
A5nkxdF7Hl0uMcdJ3jQQfsZScCR/YVmS43oWfTLbNmluHxKFrAclE/sWDpEuFrWP
2tAZdT/MZEU0p4jm9CMY2ImYwKu8VANFDLROh8gVnepO/IYdYRFudmJf95tF7m8U
KeM/+Ocio6q+Xe5gL2T1IhS1zQKBgQDd8u9RalRYQTae/TiC9JSy7CAcFVxMkr09
kO+mrcFzZzzqOkgTHXgUisUDuws3Q9DjFM092uxRey5XdIPWFAG/DsABu4lGBsrY
i+ADggGYm1iHzhqr1bGjt8JGTQgGDuAJ7OVXO10H+g1isaj7ugJDKNPC0GZLW1DO
6cBWmGm2LQKBgQDjOTSrK+9TFC2EVe2CyL97l/EdEXb9YXgmcjeDXb/wXxAes4yk
rXxGj3SfI5iMYcI5GOQRkOinODOqVuNVE4Q6COKQeZldhcPXuubnvTsZa7Iu3nvu
lfTsfrd2MJVvF+5FqYKkIzmMPAtmRoQZWOj5bPvOQ7GA06XweQr2KbKGNQKBgDkd
iCp6Y2QmvAij/0Pr7swwaX7wnET0ShCq2JEbC7pH6ewYvW112u3mXBa+rn81S270
bnCpgsDhIybMTBTuJxjkkdKgUQ4dN1wMesRMU17TMzAXgNORdVo9MphmwFbWwx6q
wMX299TSq1kngOXukyB3RC9Q89IWmK/2hVGDfUitAoGAAOahZha3ApgDkTrP8GU+
Zvr1uLpLtjfZsS4XIfoEpaVrM382DLYEOiV9CxxgSFKy8JP/HWmbDq1sDIe7k0n3
l4hIgv2U2B5d+Iea0UPp1kPPaY0y7ydtgL/t0qo16/2DCu0qaj9z5vlMYDN5FgrB
KrxnTvX3uhadLQz4afIOGfI=
-----END PRIVATE KEY-----
"
    checksum SHA1:1704:d837bc2d8faff0c114b1963f9b491d54098b0810
    revision 2
}
cm key /Common/dtdi.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtdi.key_175968_2
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDQ4ResasLpLD6E
sEu00PNoLfwAJpdYbSC5l1bB5hi7k1lUBs6SKIaZgmrQTj/m7f6EpU1sv3QSAqew
QLUkDjelhOmETf5NLi5eIOSOpHSTWLTs/V/+P4unlOxawbuKd6bJjJh1svUV00Uk
mpyx8EfcRUPwt0IK1WGkFNIRirwtJvQFTr7ylIyBfdxX3GUoqQ1dF0QbH5Em3R5O
JtFLP0cOCwYnXUk17HCn5Y5w4/xwSX0eCJqLyk3nPnuwDffQIKhNq+j0LNd6N2X8
Ihr90cXqIt71EoJ1+a85+gzB6Xh6DealTvnB4B1is8RnXwk21lIfUeUduIiJWc0U
q+pUHbwTAgMBAAECggEAJZqobudngJ/w/2VXs808TOCecg6Ah7BZyF+5BD5e7IIJ
/mkdTk3ScZd7kFXOBk6JWCsERdQv2sA0nTQBCGUw2nETszhxVEbAnTyRuSZdQFuj
ctjoq7aX90sFxA8FqteApN9VYTcfDVdUJtNY62XlIgAsS41Ka/XfVrFS4kqWNxBt
Zo/878NJoQfSbjCkjKVg7718nLs8YWJzqtZ8G8lSxgBwpa5inPJl3CzveOt7n5wJ
g8wzz4zJJuzQzYvYiQp9njMpj9yx/i7CRYWQJXUNRaEA2TTdkPYUtfrqqeNxVJUi
WluBlXfbLhlG9GCl3YDMbaoWw2iD1MBCidLYou04HQKBgQDu8sjwyjWaFEU9pzRD
BY+qWwslVhvkq53V172NaTDDFWNQj9ClwTKyWGbMvF22T7+htOO/5q7gjcAc5PrW
JP2psrfHrutxPXcYMnvafA+fO+0iSroZXNK0MJPzkXTKEZbeNZgh9bkiEEXbjB+M
41OKZek72yIyVtpwtNQRgFeW1wKBgQDfyP3ekQkdAyRuWO52DrR1TrIvwQ7NX1vF
Xqjn1esXv0KYTu/5k+IYK3s/0LBmJp8IA4z9XdmSANOorUUOXCreCzYYl0cnA0/e
FPzBx/qHC/s1PuTSNJ5K2awJqHENktHRQmbVhQ+nTHlogCBa5c3KX0a9CZ/0VcEW
cOOhMwepJQKBgCj/1YSjXZEje0H555i8Yos7de0hGkYhQELJ8sdJzkka6WCQXJ+k
R7ucOX9VrsqyYlIvxIhP35++EsGidHu7+x5cAPatR861WjL3rpKtiMysrqKcqdPi
PnEWiLxZL+3gGL/l+EWTcQGsQyBJqbw14Ua099ECZ5q1lmOSU3TxTZYfAoGBAK+7
HeCQ9B8cQJeGrnt2wK79xV9Ks10C7QXod6rWiW50es8v7bKHNpzUSEysjFkrKucY
Ircz446Lp6plpjzIk8EZ/LkC0pUIPMego3tolotGFVaStQ181HDizf4nj9+g07MH
+cjiXJB7tTsiokW/AANTHjGERV+Rl7cPnzEO6Y0hAoGAeeeKL5FRp0gMZJj0s8wS
i5SbxmkKXtVJrBXySDf4STSgUb6ih67hBuutsaRlaoKcdyn2j1Z11n29I/zsYqum
SuuSjwdj8dToQkZLQlLr7J7nvPNuZty1zD77QiNju1TfeiIX4jEztppnive2wzJn
YorQeGHXLftCnJU94jZwYM4=
-----END PRIVATE KEY-----
"
    checksum SHA1:1704:a0af796c39a3ce89c09892302789f07786b94158
    revision 2
}
cm traffic-group /Common/traffic-group-1 {
    unit-id 1
}
cm traffic-group /Common/traffic-group-local-only { }
cm trust-domain /Common/Root {
    ca-cert /Common/dtca.crt
    ca-cert-bundle /Common/dtca-bundle.crt
    ca-devices { /Common/bigip1.f5trn.com }
    ca-key /Common/dtca.key
    guid d9eb1d02-a5fa-4f23-9f8c005056254c61
    status standalone
    trust-group /Common/device_trust_group
}
gtm global-settings metrics {
    metrics-collection-protocols { icmp }
}
gtm global-settings metrics-exclusions {
    addresses none
}
ilx global-settings {
    debug-port-blacklist { 47019 54321 60000 }
}
ltm default-node-monitor {
    rule none
}
ltm virtual /Common/CGN64_vs {
    creation-time 2022-03-09:13:41:55
    destination /Common/f5::.0
    last-modified-time 2022-03-09:13:42:15
    mask ffff:ffff:ffff:ffff::
    nat64 enabled
    profiles {
        /Common/fastL4 { }
    }
    security-nat-policy {
        policy /Common/CGN64_policy
    }
    serverssl-use-sni disabled
    translate-address enabled
    translate-port disabled
    vlans {
        /Common/subscriber_vlan
    }
    vlans-enabled
}
ltm virtual-address /Common/f5:: {
    address f5::
    arp disabled
    icmp-echo disabled
    mask ffff:ffff:ffff:ffff::
    traffic-group /Common/traffic-group-1
}
ltm classification auto-update settings {
    auto-update-interval weekly
    enabled no
}
ltm profile server-ssl /Common/do-not-remove-without-replacement {
    app-service none
}
net dns-resolver /Common/f5-aws-dns {
    forward-zones {
        amazonaws.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        idservice.net {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        shpapi.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
    }
    route-domain /Common/0
}
net interface 1.1 {
    media-fixed 10000T-FD
}
net interface 1.2 {
    media-fixed 10000T-FD
}
net port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
net port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
net route-domain /Common/0 {
    id 0
    vlans {
        /Common/http-tunnel
        /Common/socks-tunnel
        /Common/subscriber_vlan
        /Common/internet_vlan
    }
}
net self /Common/subscriber_ipv6_f {
    address 2b1::33/64
    traffic-group /Common/traffic-group-1
    vlan /Common/subscriber_vlan
}
net self /Common/subscriber_ipv6_nf {
    address 2b1::31/64
    traffic-group /Common/traffic-group-local-only
    vlan /Common/subscriber_vlan
}
net self /Common/internet_f {
    address 172.16.1.33/16
    traffic-group /Common/traffic-group-1
    vlan /Common/internet_vlan
}
net self /Common/internet_nf {
    address 172.16.1.31/16
    traffic-group /Common/traffic-group-local-only
    vlan /Common/internet_vlan
}
net self-allow {
    defaults {
        igmp:0
        ospf:0
        pim:0
        tcp:161
        tcp:22
        tcp:4353
        tcp:443
        tcp:53
        udp:1026
        udp:161
        udp:4353
        udp:520
        udp:53
    }
}
net stp /Common/cist {
    interfaces {
        1.1 {
            external-path-cost 200000
            internal-path-cost 200000
        }
        1.2 {
            external-path-cost 200000
            internal-path-cost 200000
        }
    }
    vlans {
        /Common/internet_vlan
        /Common/subscriber_vlan
    }
}
net vlan /Common/internet_vlan {
    cmp-hash dst-ip
    interfaces {
        1.2 { }
    }
    sflow {
        poll-interval-global no
        sampling-rate-global no
    }
    tag 4094
}
net vlan /Common/subscriber_vlan {
    cmp-hash src-ip
    interfaces {
        1.1 { }
    }
    sflow {
        poll-interval-global no
        sampling-rate-global no
    }
    tag 4093
}
net fdb tunnel /Common/http-tunnel { }
net fdb tunnel /Common/socks-tunnel { }
net fdb vlan /Common/internet_vlan { }
net fdb vlan /Common/subscriber_vlan { }
net ipsec ike-daemon /Common/ikedaemon {
    log-publisher /Common/default-ipsec-log-publisher
}
net tunnels tunnel /Common/http-tunnel {
    description "Tunnel for http-explicit profile"
    profile /Common/tcp-forward
}
net tunnels tunnel /Common/socks-tunnel {
    description "Tunnel for socks profile"
    profile /Common/tcp-forward
}
pem global-settings analytics { }
pem global-settings gx { }
pem global-settings policy { }
security device-id attribute /Common/att01 {
    id 1
}
security device-id attribute /Common/att02 {
    id 2
}
security device-id attribute /Common/att03 {
    id 3
}
security device-id attribute /Common/att04 {
    id 4
}
security device-id attribute /Common/att05 {
    id 5
}
security device-id attribute /Common/att06 {
    id 6
}
security device-id attribute /Common/att07 {
    id 7
}
security device-id attribute /Common/att08 {
    id 8
}
security device-id attribute /Common/att09 {
    id 9
}
security device-id attribute /Common/att10 {
    id 10
}
security device-id attribute /Common/att11 {
    id 11
}
security device-id attribute /Common/att12 {
    id 12
}
security device-id attribute /Common/att13 {
    id 13
}
security device-id attribute /Common/att14 {
    id 14
}
security device-id attribute /Common/att15 {
    id 15
}
security device-id attribute /Common/att16 {
    id 16
}
security device-id attribute /Common/att17 {
    id 17
}
security device-id attribute /Common/att18 {
    id 18
}
security device-id attribute /Common/att19 {
    id 19
}
security device-id attribute /Common/att20 {
    id 20
}
security device-id attribute /Common/att21 {
    id 21
}
security device-id attribute /Common/att22 {
    id 22
}
security device-id attribute /Common/att23 {
    id 23
}
security device-id attribute /Common/att24 {
    id 24
}
security device-id attribute /Common/att25 {
    id 25
}
security device-id attribute /Common/att26 {
    id 26
}
security device-id attribute /Common/att27 {
    id 27
}
security device-id attribute /Common/att28 {
    id 28
}
security device-id attribute /Common/att29 {
    id 29
}
security device-id attribute /Common/att30 {
    id 30
}
security device-id attribute /Common/att31 {
    id 31
}
security device-id attribute /Common/att32 {
    id 32
}
security device-id attribute /Common/att33 {
    id 33
}
security device-id attribute /Common/att34 {
    id 34
}
security device-id attribute /Common/att35 {
    id 35
}
security device-id attribute /Common/att36 {
    id 36
}
security device-id attribute /Common/att37 {
    id 37
}
security device-id attribute /Common/att38 {
    id 38
}
security device-id attribute /Common/att39 {
    id 39
}
security dos ipv6-ext-hdr /Common/dos-ipv6-ext-hdr {
    frame-types { auth dstopt esp frag hbh mobility route }
}
security dos udp-portlist /Common/dos-udp-portlist {
    list-type exclude-listed-ports
}
security firewall config-change-log {
    log-publisher /Common/local-db-publisher
}
security firewall config-entity-id /Common/uuid_entity_id {
    entity-id 4821496098702561619
}
security firewall port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security firewall port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
security firewall rule-list /Common/_sys_self_allow_all {
    rules {
        _sys_allow_all {
            action accept
            ip-protocol any
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_defaults {
    rules {
        _sys_allow_tcp_defaults {
            action accept
            ip-protocol tcp
            destination {
                port-lists {
                    /Common/_sys_self_allow_tcp_defaults
                }
            }
        }
        _sys_allow_udp_defaults {
            action accept
            ip-protocol udp
            destination {
                port-lists {
                    /Common/_sys_self_allow_udp_defaults
                }
            }
        }
        _sys_allow_ospf_defaults {
            action accept
            ip-protocol ospf
        }
        _sys_allow_pim_defaults {
            action accept
            ip-protocol pim
        }
        _sys_allow_igmp_defaults {
            action accept
            ip-protocol igmp
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_management {
    rules {
        _sys_allow_ssh {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    22 { }
                }
            }
        }
        _sys_allow_web {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    443 { }
                }
            }
        }
    }
}
security ip-intelligence policy /Common/ip-intelligence { }
security nat policy /Common/CGN64_policy {
    rules {
        NAPT64_rule {
            ip-protocol any
            source {
                addresses {
                    2b1::30 { }
                }
            }
            translation {
                source /Common/NAPT64
            }
        }
    }
    traffic-group /Common/traffic-group-1
}
security nat source-translation /Common/NAPT64 {
    addresses {
        40.0.101.0/24 { }
    }
    egress-interfaces {
        /Common/internet_vlan
    }
    egress-interfaces-enabled
    mapping {
        mode none
    }
    ports {
        1025-65535 { }
    }
    traffic-group /Common/traffic-group-1
    type dynamic-pat
}
security protocol-inspection compliance-map /Common/map_10426 {
    insp-id 10426
    key-type int
    value-type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/argument_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/error_message_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_type_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/option_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/option_value_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/response_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_code_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/status_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/tag_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11223
    type int
}
security scrubber profile /Common/scrubber-profile-default {
    advertisement-ttl 300
}
security shared-objects port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security shared-objects port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
sys compatibility-level {
    level 0
}
sys db adm.block.enable {
    value "1"
}
sys db antifraud.encryptionfieldprefix {
    value "__"
}
sys db avr.stats.internal.maxentitiespertable {
    value "2148"
}
sys db log.ftp.level {
    value "Error"
}
sys db tmm.dhcp.client.connection.packets.inprogress.max {
    value "2000"
}
sys db tmm.dhcp.server.connection.packets.inprogress.max {
    value "2000"
}
sys folder / {
    device-group none
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-1
}
sys folder /Common {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/Drafts {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/dos-common {
    device-group /Common/dos-global-dg
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-local-only
}
sys global-settings {
    gui-setup disabled
    hostname bigip1.f5trn.com
    mgmt-dhcp disabled
}
sys management-dhcp /Common/sys-mgmt-dhcp-config {
    request-options { subnet-mask broadcast-address routers domain-name domain-name-servers host-name ntp-servers interface-mtu }
}
sys management-ip 192.168.1.31/16 {
    description configured-statically
}
sys management-ovsdb {
    bfd-disabled
    bfd-route-domain none
    ca-cert-file none
    cert-file none
    cert-key-file none
    disabled
    flooding-type replicator
    log-level info
    logical-routing-type none
    tunnel-maintenance-mode active
}
sys ntp {
    servers { 172.16.20.1 }
}
sys provision afm {
    level nominal
}
sys provision ltm {
    level nominal
}
sys snmp {
    agent-addresses { tcp6:161 udp6:161 }
    communities {
        /Common/comm-public {
            community-name public
            source default
        }
    }
    disk-monitors {
        /Common/root {
            minspace 2000
            path /
        }
        /Common/var {
            minspace 10000
            path /var
        }
    }
    process-monitors {
        /Common/bigd {
            max-processes infinity
            process bigd
        }
        /Common/chmand {
            process chmand
        }
        /Common/httpd {
            max-processes infinity
            process httpd
        }
        /Common/mcpd {
            process mcpd
        }
        /Common/sod {
            process sod
        }
        /Common/tmm {
            max-processes infinity
            process tmm
        }
    }
}
sys diags ihealth {
    expiration 30
    no-ihealth false
    options none
    password none
    user none
}
sys dynad settings {
    development-mode false
}
sys ecm cloud-provider /Common/aws-ec2 {
    description "The aws-ec2 parameters"
    property-template {
        account { }
        availability-zone {
            valid-values { a b c d }
        }
        instance-type {
            valid-values { t2.micro t2.small t2.medium m3.medium m3.large m3.xlarge m3.2xlarge c3.large c3.xlarge c3.2xlarge c3.4xlarge c3.8xlarge r3.large r3.xlarge r3.2xlarge r3.4xlarge r3.8xlarge }
        }
        region {
            valid-values { us-east-1 us-west-1 us-west-2 sa-east-1 eu-west-1 eu-central-1 ap-southeast-2 ap-southeast-1 ap-northeast-1 }
        }
    }
}
sys ecm cloud-provider /Common/dnet {
    description "The dnet parameters"
}
sys ecm cloud-provider /Common/vsphere {
    description "The vsphere parameters"
    property-template {
        cloud-host-ip { }
        dhcp-network-name { }
        end-point-url { }
        node-name { }
    }
}
sys fpga firmware-config {
    type standard-balanced-fpga
}
sys sflow global-settings http { }
sys sflow global-settings vlan { }
sys software update {
    auto-check enabled
    auto-phonehome enabled
    frequency weekly
}
sys turboflex profile-config {
    type turboflex-adc
}
wom endpoint-discovery { }
