#TMSH-VERSION: 16.1.0

cli admin-partitions {
    update-partition Common
}
apm ephemeral-auth ssh-security-config /Common/ssh-security-config {
    ciphers {
        1 {
            cipher-name aes256-ctr
        }
        2 {
            cipher-name aes192-ctr
        }
        3 {
            cipher-name aes128-ctr
        }
    }
    compressions {
        1 {
            compression-name none
        }
    }
    hmacs {
        1 {
            hmac-name hmac-sha2-512
        }
        2 {
            hmac-name hmac-sha2-256
        }
    }
    kex-methods {
        1 {
            kex-method-name diffie-hellman-group-exchange-sha256
        }
    }
}
apm oauth db-instance /Common/oauthdb {
    description "Default OAuth DB."
}
apm policy customization-source /Common/modern { }
apm policy customization-source /Common/standard { }
apm report default-report {
    report-name sessionReports/sessionSummary
    user /Common/admin
}
auth user admin {
    description "Admin User"
    encrypted-password $6$x2ydyXmd$TCD6SGPIeuw6dbSN35/8Xs72kJ5Hr7xo03HagwomTFRB58dffpAGQcjlM4rSxxxy/qcCCRT2VvB2OabvLDRwy/
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell tmsh
}
auth user f5hubblelcdadmin {
    description f5hubblelcdadmin
    encrypted-password 6kxr0QEwO73aoUhj2b9qQ0FaTUhf4tK1
    partition-access {
        all-partitions {
            role admin
        }
    }
    session-limit -1
    shell none
}
auth user root {
    description root
    encrypted-password $6$XCVAsMxh$mnYLxhHddhaQ.1RjLvOaKlG2niDT1ypIUt4B2XUVwdIPYXbefGezFGTn6Hu5Sm0Qk/JwOwBVbAvsemqTO1bWG1
    session-limit -1
    shell bash
}
cm cert /Common/dtca-bundle.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca-bundle.crt_195550_1
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDijCCAnKgAwIBAgIDCoM1MA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTI2Rh
MDNkYzM4LTQzMWItNDA2Ni04NDY5MDA1MDU2MjA5OTcyMB4XDTIxMDkyMjEyNDQ1
OFoXDTMxMDkyMDEyNDQ1OFowLjEsMCoGA1UEAxMjZGEwM2RjMzgtNDMxYi00MDY2
LTg0NjkwMDUwNTYyMDk5NzIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQC6ORS2Jkia4WQRRB2nNTm0mdCB9rORPf3ajF+/nxS3GRNt5Xqzs6M9yGVZRNvv
LlGM5YNFY00ZBk1KAP5dzplaU6IYo442ABBPCSjMyawu2bB3ADDKYHUMpyCVt53/
6UbCHIrj1mBXgkIOWUg3WZwVHKmFU7xN3h7BRo1E1R8Qy0fcHsMAjov5J35fAnmc
1EC2Ht1vpMIjwVeq+ZvrrBa7P+AE1zK5/vZesEXMrAtWJMKgELjkJEy68t29hCGy
UrGPKkGsaW7+UWGN+XFYjUtJvKojPlBhXDEHF0NQlj2n3rI4CfUDdzkynCvRwOs6
xPtWtvB3DlMyI1R2EPg6G+y7AgMBAAGjgbAwga0wEQYDVR0RBAowCIIGYmlnaXAx
MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgG2MB0GA1UdDgQWBBRgJeCA
8PuE6K0jTGghZPbV2jlQGzBYBgNVHSMEUTBPgBRgJeCA8PuE6K0jTGghZPbV2jlQ
G6EypDAwLjEsMCoGA1UEAxMjZGEwM2RjMzgtNDMxYi00MDY2LTg0NjkwMDUwNTYy
MDk5NzKCAwqDNTANBgkqhkiG9w0BAQUFAAOCAQEAK2BrQjXRxgvFVKAfYe1U9Asu
WmBiLM99U55rtJoTk2iC+H+5RG2ULlQrfGBUvAyfslpSVGFcsyJVDx5M1QhSCQqt
ld8Swm3eWs2CHL+9NO+GHtma0VkwCnKr+Wv1EcMrGQVkFgcOcYY9FmxyDwDDwK0t
0wDloJzhDeHG5AKbvo9Sq/q98TJGAJGuAFHKPeiG+7tKKPIHkigSqdX4IloIqc+B
KuqaPrmuiRS4wSxcXDFnHDhzgY5gFJ0+NUPDowmD8A+fNM3EgpxLqEVDYYPlTn4y
aY/i8ViqbOzQ+Zc4HRc1s9MmRRpPLj/5d/54SMwbZOoSW6zfly5KYHawebHX8g==
-----END CERTIFICATE-----
"
    checksum SHA1:1289:38820215055b60b283ca11b8185966be2578692a
    revision 1
}
cm cert /Common/dtca.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtca.crt_195546_1
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDijCCAnKgAwIBAgIDCoM1MA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTI2Rh
MDNkYzM4LTQzMWItNDA2Ni04NDY5MDA1MDU2MjA5OTcyMB4XDTIxMDkyMjEyNDQ1
OFoXDTMxMDkyMDEyNDQ1OFowLjEsMCoGA1UEAxMjZGEwM2RjMzgtNDMxYi00MDY2
LTg0NjkwMDUwNTYyMDk5NzIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQC6ORS2Jkia4WQRRB2nNTm0mdCB9rORPf3ajF+/nxS3GRNt5Xqzs6M9yGVZRNvv
LlGM5YNFY00ZBk1KAP5dzplaU6IYo442ABBPCSjMyawu2bB3ADDKYHUMpyCVt53/
6UbCHIrj1mBXgkIOWUg3WZwVHKmFU7xN3h7BRo1E1R8Qy0fcHsMAjov5J35fAnmc
1EC2Ht1vpMIjwVeq+ZvrrBa7P+AE1zK5/vZesEXMrAtWJMKgELjkJEy68t29hCGy
UrGPKkGsaW7+UWGN+XFYjUtJvKojPlBhXDEHF0NQlj2n3rI4CfUDdzkynCvRwOs6
xPtWtvB3DlMyI1R2EPg6G+y7AgMBAAGjgbAwga0wEQYDVR0RBAowCIIGYmlnaXAx
MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgG2MB0GA1UdDgQWBBRgJeCA
8PuE6K0jTGghZPbV2jlQGzBYBgNVHSMEUTBPgBRgJeCA8PuE6K0jTGghZPbV2jlQ
G6EypDAwLjEsMCoGA1UEAxMjZGEwM2RjMzgtNDMxYi00MDY2LTg0NjkwMDUwNTYy
MDk5NzKCAwqDNTANBgkqhkiG9w0BAQUFAAOCAQEAK2BrQjXRxgvFVKAfYe1U9Asu
WmBiLM99U55rtJoTk2iC+H+5RG2ULlQrfGBUvAyfslpSVGFcsyJVDx5M1QhSCQqt
ld8Swm3eWs2CHL+9NO+GHtma0VkwCnKr+Wv1EcMrGQVkFgcOcYY9FmxyDwDDwK0t
0wDloJzhDeHG5AKbvo9Sq/q98TJGAJGuAFHKPeiG+7tKKPIHkigSqdX4IloIqc+B
KuqaPrmuiRS4wSxcXDFnHDhzgY5gFJ0+NUPDowmD8A+fNM3EgpxLqEVDYYPlTn4y
aY/i8ViqbOzQ+Zc4HRc1s9MmRRpPLj/5d/54SMwbZOoSW6zfly5KYHawebHX8g==
-----END CERTIFICATE-----
"
    checksum SHA1:1289:38820215055b60b283ca11b8185966be2578692a
    revision 1
}
cm cert /Common/dtdi.crt {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_d/:Common:dtdi.crt_195542_1
    certificate-text "-----BEGIN CERTIFICATE-----
MIIDajCCAlKgAwIBAgIDDVrAMA0GCSqGSIb3DQEBBQUAMC4xLDAqBgNVBAMTI2Rh
MDNkYzM4LTQzMWItNDA2Ni04NDY5MDA1MDU2MjA5OTcyMB4XDTIxMDkyMjEyNDUw
NFoXDTMxMDkyMDEyNDUwNFowETEPMA0GA1UEAxMGYmlnaXAxMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnC2KPPCq0I8eAvWpqcLpKpxGwA5rKV0g6PDr
8gz/+jwp5wtCwlmln8u/t00u9FxeTE5dAVULIvRPg3Y/cx1hX3huHzGVIxZD3Sjm
N4hmhh0nr+3OK6N+2o61iAfhFEUqJOnfQhxLwoZANQzOE1glowhTfQu5YA0NObgN
ulwFO0Mb7hGTro8FZbo5zfpV7i+3Ulj1osSjklQk5AdNKyZdini+m4Pjexfmxj9f
3zNCb00UIMz4XIcGzsO3QtVDzV4BbX2gSsKRCEeEq9oJkjL39cXg2XHNhDST4d6h
P2DWUvYYNrYy4Uyb5SICFI8l9vECDPpmsDvhD5u+xpEA/e5T7wIDAQABo4GtMIGq
MBEGA1UdEQQKMAiCBmJpZ2lwMTAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwIF
oDAdBgNVHQ4EFgQUYogIbWFpIPBWTFuxumaAdO/JnGkwWAYDVR0jBFEwT4AUYCXg
gPD7hOitI0xoIWT21do5UBuhMqQwMC4xLDAqBgNVBAMTI2RhMDNkYzM4LTQzMWIt
NDA2Ni04NDY5MDA1MDU2MjA5OTcyggMKgzUwDQYJKoZIhvcNAQEFBQADggEBAE+G
K36NmaTH0saAAcu0zAv4etnC11HK49dEcoltPcDZ87u7QpDRtfKbKyVq3n2U4ZrH
UXt7QXVRg+lD06d+a0+w8gKO99zG4e3AumCk7Cm8m/DyOROi1mRBPoaE8Z3l88hK
z/TUrGTGQOHEPqtI4dEsdjMA2mzerjd1LggC7lhH0XiHDFHnua0b3tJa03YxMhyP
DZitjfTUqk2ohOx0851iftWPwvd2497nFIdOOYUOAVpnrM780gRbUIqZsPjPzK1x
l0bxaCPFf/dc9pNqsC0hCAGT8UMDk9j4h2LbNnrVAmFYQpqTy0RqJi3JZM7OIRsE
g426jmUmwoXU92D5+7E=
-----END CERTIFICATE-----
"
    checksum SHA1:1245:4f9a45f5c5ebc91b00f67a52b0ea533a22077f2e
    revision 1
}
cm device /Common/bigip2.f5trn.com {
    active-modules { "BIG-IP, VE, SP LAB|UKJEACG-LSIAUFO|Rate Shaping|External Interface and Network HSM, VE|BIG-IP VE, Multicast Routing|Routing Bundle, VE|ASM, VE|SSL, VE|DNS VE Lab  (10K QPS)|Max Compression, VE|Advanced Protocols, VE|SSL Orchestrator, VE|PEM, VE|APM, Lab, VE|AFM, VE (LAB ONLY - NO ROUTING)|Exclusive Version, v12.1.X - 18.X|Advanced Web Application Firewall, VE Lab|DNSSEC|VE, Carrier Grade NAT (AFM ONLY)|PSM, VE" }
    base-mac 00:50:56:20:99:72
    build 0.0.19
    cert /Common/dtdi.crt
    chassis-id 08d50842-df50-2f0d-ebee2215f9ff
    edition Final
    hostname bigip2.f5trn.com
    key /Common/dtdi.key
    management-ip 192.168.2.31
    marketing-name "BIG-IP Virtual Edition"
    optional-modules { "Anti-Bot Mobile, VE 25 Mbps" "App Mode (TMSH Only, No Root/Bash)" "IP Intelligence, 1Yr, VE-200M/VE-25M" "IP Intelligence, 3Yr, VE-200M/VE-25M" "PEM URL Filtering, 1Yr, VE-10M LAB, 200M" "PEM URL Filtering, 3Yr, VE-10M LAB, 200M" "Threat Campaigns, 1Yr, VE-200M/VE-25M" "URL Filtering, VE-25M-1G, 500 Sessions, 1Yr" "URL Filtering, VE-25M-1G, 500 Sessions, 3Yr" }
    platform-id Z100
    product BIG-IP
    self-device true
    time-zone America/Los_Angeles
    unicast-address {
        {
            effective-ip management-ip
            effective-port 1026
            ip management-ip
        }
    }
    version 16.1.0
}
cm device-group /Common/device_trust_group {
    auto-sync enabled
    devices {
        /Common/bigip2.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm device-group /Common/dos-global-dg {
    devices {
        /Common/bigip2.f5trn.com { }
    }
    full-load-on-sync true
    hidden true
    network-failover disabled
}
cm device-group /Common/gtm {
    devices {
        /Common/bigip2.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm key /Common/dtca.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtca.key_195548_1
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC6ORS2Jkia4WQR
RB2nNTm0mdCB9rORPf3ajF+/nxS3GRNt5Xqzs6M9yGVZRNvvLlGM5YNFY00ZBk1K
AP5dzplaU6IYo442ABBPCSjMyawu2bB3ADDKYHUMpyCVt53/6UbCHIrj1mBXgkIO
WUg3WZwVHKmFU7xN3h7BRo1E1R8Qy0fcHsMAjov5J35fAnmc1EC2Ht1vpMIjwVeq
+ZvrrBa7P+AE1zK5/vZesEXMrAtWJMKgELjkJEy68t29hCGyUrGPKkGsaW7+UWGN
+XFYjUtJvKojPlBhXDEHF0NQlj2n3rI4CfUDdzkynCvRwOs6xPtWtvB3DlMyI1R2
EPg6G+y7AgMBAAECggEADtL2bB2WEAY7MgirF6FsC41nBMF/v+MgbyJXiOh//KdZ
XZkz8FQvfX6TWszZeSvFwCKRFZf3DjPrOSXlGdCVcpRPxghXDMNqiPAguFShiUU4
//Aa8jFFgBFZzbFFOZb3VAJzp/lrx+uNmJjQ398ZRrD2aa+lwMkax6X3HvCcPXje
HYduyRR/YpJ/I3hZXjjx7zjxqobVljT8UkD0cpImIiZdzujKL+FSc4YXiyncKeQS
oHfQ7UW3FVT3BOqJNRAi4OmSbgPdEHoVMhJIZwkRdo/4LL1HPSy1Ef06We32f3sV
pZxvkJT4Zth85iPFwP/2YAIU6aXIe+U185CC3nHTGQKBgQD4WgGDY1yfIPbEY7X8
Ms8lrIZ2+P0DSPhEtLAdLDk73xrMm7IhpwGL+tBTVAqs+Zcn3edSgKJzOKy3zNYm
x1xNZ6iEXY40g61lS9qMUtAeaUQ00tWHvySSQLElM6PiSWcO/lYAAz2MJ0wFbAUA
b5CBwMwQU+ftsgfXXD1ykEFBlQKBgQC/9UFl3R6qsbmZDpvLpz6PLcQgnQDzKV44
1SareWVgBa7RfucWC+YXRcSclefRS+gdKTAN3IhCqhFUzuRYErFNlF8tWxwL5QSS
Z+4xjnmUulJX72yQLje00o2/8Hk69ffNloo9FZf9bjH7+EYz3uVneugIiRWChEsY
LJj1vgmBDwKBgFxzvS55NcizT8nKSLwK+hxPPntZs26eonWJQiqKBQBpzKMwrr5i
WmwOwbDTj2nXPFMGA5At/Muh5IJDydED1DOojA5CeabJAiq8cy5bwcggbdiwR/dR
y756QLfVooOhybDGM6OrkST0mBNIpBAGeCglapIFekh9RvgACYv1caWFAoGACQw1
TejTNjZ0SguPOlUitLrygJsF3XA4ubMKRJDPP2xlJgi2OarL6JLoRn0mVQ4f3agA
VNbtMT802+t4hdIzuzVgGxItSz47Le9qIbnWbzUtBmoJku4qwAIgnkhmXmoTiQQs
dd6bsF1OS9MS9ATwiSUY5LYZZnJ326bWeta/Oe8CgYBS+iudF0k1yH72917Rq4Xz
NgfZhwN8E6ajaNlNpT2etmsC3LMKBqDC9DZWlmPYMyu4hfoGUtmJ8IFQz5Krj9as
uSxRi9lrO0gqm6oG98fZ2I3R+7iINwfXs3zcbrfHEq1kdBNyHazTp03+AsjLguFC
tVY3GhKDNEQqsmOlcxsGOQ==
-----END PRIVATE KEY-----
"
    checksum SHA1:1704:a26d27e71876b48516e734bcd0c5c760c46e200f
    revision 1
}
cm key /Common/dtdi.key {
    cache-path /config/filestore/files_d/Common_d/trust_certificate_key_d/:Common:dtdi.key_195544_1
    certificate-text "-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCcLYo88KrQjx4C
9ampwukqnEbADmspXSDo8OvyDP/6PCnnC0LCWaWfy7+3TS70XF5MTl0BVQsi9E+D
dj9zHWFfeG4fMZUjFkPdKOY3iGaGHSev7c4ro37ajrWIB+EURSok6d9CHEvChkA1
DM4TWCWjCFN9C7lgDQ05uA26XAU7QxvuEZOujwVlujnN+lXuL7dSWPWixKOSVCTk
B00rJl2KeL6bg+N7F+bGP1/fM0JvTRQgzPhchwbOw7dC1UPNXgFtfaBKwpEIR4Sr
2gmSMvf1xeDZcc2ENJPh3qE/YNZS9hg2tjLhTJvlIgIUjyX28QIM+mawO+EPm77G
kQD97lPvAgMBAAECggEAG4VI2VE9gG/fxXy9r3z5snkEXJ6N0qWnAXVG1onk55cH
eT+6PV4nud9hAq92qTfHpCGg8PWn9zpe8pb5OlNAj968ZQHLOnoXblbhLoL6MgLc
NfutO3JdjazdH0HoLza65PNTVKaA0R/wG4kMnUsIotB6Scwxl9Pk8zlULfU+NMFp
eOPdu+H6hzTlu1758kxJ/VaJKH/S06t6RDqPLlDnkqMxl8A0RQpCivHKH76KZnSs
oWAJe+ZT9ZuHl7tE9gPCI9yZIRrGQmJwgsFp7z9WjyzBPiL75dISH7HClJmZlnlC
iZwrM4giDoS3sHrcfWY7wgjyPW1Er9OSS+fONm9SLQKBgQDW4fi8pHQm0b7uUdl7
VmulIDCEK2EshbPWL69mdOoCj/v3/S7o0U7CLo04+3VM3qu5n4dS9SvxX8KFtqDB
MEN71vW8uOK1rKl9CFJr7sDQHhwgMuwy1hMLBU2kWLyjH9YwT3qrXwIbX2QVYyiN
BeLh96l0ShbqAqOPmZPhvK2uGwKBgQC6D+nU0TUpdJJ0ofaj4K4m+ZvCDhre51V7
nGrju60LtPycK09WTDpFt5k2S5IFMWtznpiFoNFcZJBmxt/IPwgNj2Bl4FOyDnhs
2ck886y55FX73KkjRNNXJTYg+GpnzR/zMHgPwZ2mYYaAY81/w8jQxgTZ6v5KoXOy
vVoANEL+vQKBgQCGW9D9kw6VXzy1IzSLLCQuoYv0eHNQNWGXIUXZGG1hoMn567Mz
G/zU6eqfoItdvzU84YTp2Cbby/aDSQgHA7iObIBGuov28LkhVtzCZAznlIwdjfmm
Z7iMgYpkop+Al92DY47eLI/SsbiQrumiE/YjOIoaDmF5fKDsnyiaUzF91QKBgQCk
GLTaBUklrrIcO1wTXG074pkEpPv963jw9Bsxjqwnzw+bjHcEXWZnZm2x/SRjgBqM
dit+bz82hVr1yiBDs5Oeof0a3KX0O97p4YoiP6buq/tJjmt9t43NJfx/R5hQxBCR
owXAn7oyq4C8a0kqjbnmpz5QE3kCyTIJSga+d1k+4QKBgQCz+LP6Ddm7yi2GQumk
gO7ZYsR8Sji6CHwIEPyu38iRDdgtVy61YNB8w6WItAF1U5M2Qr8UzoZv0P07uDAt
j6aZTRqdc53nPUZr88lO32LztGohmQNTgcvvM/4yCIMvwRWtlKE5QnTV4zhyniAy
G0GDxBgrgTO4ZahCfJpPMXFLJg==
-----END PRIVATE KEY-----
"
    checksum SHA1:1708:7ddcd8bd25dec372b2956ce02e138fc6b68ee4da
    revision 1
}
cm traffic-group /Common/traffic-group-1 {
    unit-id 1
}
cm traffic-group /Common/traffic-group-local-only { }
cm trust-domain /Common/Root {
    ca-cert /Common/dtca.crt
    ca-cert-bundle /Common/dtca-bundle.crt
    ca-devices { /Common/bigip2.f5trn.com }
    ca-key /Common/dtca.key
    guid a5b6e003-7c99-4b46-85ef005056209972
    status standalone
    trust-group /Common/device_trust_group
}
gtm global-settings metrics {
    metrics-collection-protocols { icmp }
}
gtm global-settings metrics-exclusions {
    addresses none
}
ilx global-settings {
    debug-port-blacklist { 47019 54321 60000 }
}
ltm default-node-monitor {
    rule none
}
ltm classification auto-update settings {
    auto-update-interval weekly
    enabled no
}
ltm profile server-ssl /Common/do-not-remove-without-replacement {
    app-service none
}
net dns-resolver /Common/f5-aws-dns {
    forward-zones {
        amazonaws.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        idservice.net {
            nameservers {
                8.8.8.8:53 { }
            }
        }
        shpapi.com {
            nameservers {
                8.8.8.8:53 { }
            }
        }
    }
    route-domain /Common/0
}
net interface 1.1 {
    media-fixed 10000T-FD
}
net interface 1.2 {
    media-fixed 10000T-FD
}
net interface 1.3 {
    media-fixed 10000T-FD
}
net port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
net port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
net route-domain /Common/0 {
    id 0
    vlans {
        /Common/http-tunnel
        /Common/socks-tunnel
    }
}
net self-allow {
    defaults {
        igmp:0
        ospf:0
        pim:0
        tcp:161
        tcp:22
        tcp:4353
        tcp:443
        tcp:53
        udp:1026
        udp:161
        udp:4353
        udp:520
        udp:53
    }
}
net stp /Common/cist { }
net fdb tunnel /Common/http-tunnel { }
net fdb tunnel /Common/socks-tunnel { }
net ipsec ike-daemon /Common/ikedaemon {
    log-publisher /Common/default-ipsec-log-publisher
}
net tunnels tunnel /Common/http-tunnel {
    description "Tunnel for http-explicit profile"
    profile /Common/tcp-forward
}
net tunnels tunnel /Common/socks-tunnel {
    description "Tunnel for socks profile"
    profile /Common/tcp-forward
}
pem global-settings analytics { }
pem global-settings gx { }
pem global-settings policy { }
security device-id attribute /Common/att01 {
    id 1
}
security device-id attribute /Common/att02 {
    id 2
}
security device-id attribute /Common/att03 {
    id 3
}
security device-id attribute /Common/att04 {
    id 4
}
security device-id attribute /Common/att05 {
    id 5
}
security device-id attribute /Common/att06 {
    id 6
}
security device-id attribute /Common/att07 {
    id 7
}
security device-id attribute /Common/att08 {
    id 8
}
security device-id attribute /Common/att09 {
    id 9
}
security device-id attribute /Common/att10 {
    id 10
}
security device-id attribute /Common/att11 {
    id 11
}
security device-id attribute /Common/att12 {
    id 12
}
security device-id attribute /Common/att13 {
    id 13
}
security device-id attribute /Common/att14 {
    id 14
}
security device-id attribute /Common/att15 {
    id 15
}
security device-id attribute /Common/att16 {
    id 16
}
security device-id attribute /Common/att17 {
    id 17
}
security device-id attribute /Common/att18 {
    id 18
}
security device-id attribute /Common/att19 {
    id 19
}
security device-id attribute /Common/att20 {
    id 20
}
security device-id attribute /Common/att21 {
    id 21
}
security device-id attribute /Common/att22 {
    id 22
}
security device-id attribute /Common/att23 {
    id 23
}
security device-id attribute /Common/att24 {
    id 24
}
security device-id attribute /Common/att25 {
    id 25
}
security device-id attribute /Common/att26 {
    id 26
}
security device-id attribute /Common/att27 {
    id 27
}
security device-id attribute /Common/att28 {
    id 28
}
security device-id attribute /Common/att29 {
    id 29
}
security device-id attribute /Common/att30 {
    id 30
}
security device-id attribute /Common/att31 {
    id 31
}
security device-id attribute /Common/att32 {
    id 32
}
security device-id attribute /Common/att33 {
    id 33
}
security device-id attribute /Common/att34 {
    id 34
}
security device-id attribute /Common/att35 {
    id 35
}
security device-id attribute /Common/att36 {
    id 36
}
security device-id attribute /Common/att37 {
    id 37
}
security device-id attribute /Common/att38 {
    id 38
}
security device-id attribute /Common/att39 {
    id 39
}
security dos ipv6-ext-hdr /Common/dos-ipv6-ext-hdr {
    frame-types { auth dstopt esp frag hbh mobility route }
}
security dos udp-portlist /Common/dos-udp-portlist {
    list-type exclude-listed-ports
}
security firewall config-change-log {
    log-publisher /Common/local-db-publisher
}
security firewall config-entity-id /Common/uuid_entity_id {
    entity-id 7522585433774503167
}
security firewall port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security firewall port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
security firewall rule-list /Common/_sys_self_allow_all {
    rules {
        _sys_allow_all {
            action accept
            ip-protocol any
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_defaults {
    rules {
        _sys_allow_tcp_defaults {
            action accept
            ip-protocol tcp
            destination {
                port-lists {
                    /Common/_sys_self_allow_tcp_defaults
                }
            }
        }
        _sys_allow_udp_defaults {
            action accept
            ip-protocol udp
            destination {
                port-lists {
                    /Common/_sys_self_allow_udp_defaults
                }
            }
        }
        _sys_allow_ospf_defaults {
            action accept
            ip-protocol ospf
        }
        _sys_allow_pim_defaults {
            action accept
            ip-protocol pim
        }
        _sys_allow_igmp_defaults {
            action accept
            ip-protocol igmp
        }
    }
}
security firewall rule-list /Common/_sys_self_allow_management {
    rules {
        _sys_allow_ssh {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    22 { }
                }
            }
        }
        _sys_allow_web {
            action accept
            ip-protocol tcp
            destination {
                ports {
                    443 { }
                }
            }
        }
    }
}
security ip-intelligence policy /Common/ip-intelligence { }
security protocol-inspection compliance /Common/http_non_crlf_line_break {
    description "Non CRLF Line Break"
    documentation "As per HTTP protocol specification, each header line should have CRLF (Carriage Return + Line Feed)(
) line break. In real HTTP traffic, we may only see LF (
) as line break. This compliance check comes up for traffic with only LF as a line break."
    id 11018
    performance-impact medium
    protocol "tcp, sctp"
    risk medium
    service /Common/http
    subscription no
}
security protocol-inspection compliance-map /Common/map_10426 {
    insp-id 10426
    key-type int
    value-type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/allowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/argument_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/command_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/command_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10232
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10431
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10229
    type vector-string
}
security protocol-inspection compliance-objects /Common/disallowed_list {
    insp-id 10430
    type vector-string
}
security protocol-inspection compliance-objects /Common/error_message_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/file_type_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/header_name_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/header_value_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/method_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/option_name_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/option_value_max {
    insp-id 10102
    type int
}
security protocol-inspection compliance-objects /Common/response_argument_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_code_len_max {
    insp-id 10609
    type int
}
security protocol-inspection compliance-objects /Common/response_parameter_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/status_code_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/status_len_max {
    insp-id 10707
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/status_reason_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/tag_len_max {
    insp-id 10905
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/uri_len_max {
    insp-id 11016
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11223
    type int
}
security protocol-inspection compliance-objects /Common/version_len_max {
    insp-id 11016
    type int
}
security scrubber profile /Common/scrubber-profile-default {
    advertisement-ttl 300
}
security shared-objects port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
security shared-objects port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
sys compatibility-level {
    level 0
}
sys db adm.block.enable {
    value "1"
}
sys db antifraud.encryptionfieldprefix {
    value "__"
}
sys db avr.stats.internal.maxentitiespertable {
    value "2148"
}
sys db log.ftp.level {
    value "Error"
}
sys db ssl.certrequest.commonname {
    value "bigip2.f5trn.com"
}
sys db ssl.certrequest.divisionname {
    value "Service Training"
}
sys db ssl.certrequest.localityname {
    value "Seattle"
}
sys db ssl.certrequest.organizationname {
    value "F5, Inc."
}
sys db ssl.certrequest.stateorprovincename {
    value "WA"
}
sys db tmm.dhcp.client.connection.packets.inprogress.max {
    value "2000"
}
sys db tmm.dhcp.server.connection.packets.inprogress.max {
    value "2000"
}
sys dns {
    name-servers { 172.16.20.1 }
}
sys folder / {
    device-group none
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-1
}
sys folder /Common {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/Drafts {
    device-group none
    hidden false
    inherited-devicegroup true
    inherited-traffic-group true
    traffic-group /Common/traffic-group-1
}
sys folder /Common/dos-common {
    device-group /Common/dos-global-dg
    hidden false
    inherited-devicegroup false
    inherited-traffic-group false
    traffic-group /Common/traffic-group-local-only
}
sys global-settings {
    gui-setup disabled
    hostname bigip2.f5trn.com
    mgmt-dhcp disabled
}
sys management-dhcp /Common/sys-mgmt-dhcp-config {
    request-options { subnet-mask broadcast-address routers domain-name domain-name-servers host-name ntp-servers interface-mtu }
}
sys management-ip 192.168.2.31/16 {
    description configured-statically
}
sys management-ovsdb {
    bfd-disabled
    bfd-route-domain none
    ca-cert-file none
    cert-file none
    cert-key-file none
    disabled
    flooding-type replicator
    log-level info
    logical-routing-type none
    tunnel-maintenance-mode active
}
sys management-route /Common/default {
    description configured-statically
    gateway 192.168.0.254
    network default
}
sys ntp {
    servers { 172.16.20.1 }
}
sys provision afm {
    level nominal
}
sys provision ltm {
    level nominal
}
sys snmp {
    agent-addresses { tcp6:161 udp6:161 }
    communities {
        /Common/comm-public {
            community-name public
            source default
        }
    }
    disk-monitors {
        /Common/root {
            minspace 2000
            path /
        }
        /Common/var {
            minspace 10000
            path /var
        }
    }
    process-monitors {
        /Common/bigd {
            max-processes infinity
            process bigd
        }
        /Common/chmand {
            process chmand
        }
        /Common/httpd {
            max-processes infinity
            process httpd
        }
        /Common/mcpd {
            process mcpd
        }
        /Common/sod {
            process sod
        }
        /Common/tmm {
            max-processes infinity
            process tmm
        }
    }
}
sys diags ihealth {
    expiration 30
    no-ihealth false
    options none
    password none
    user none
}
sys dynad settings {
    development-mode false
}
sys ecm cloud-provider /Common/aws-ec2 {
    description "The aws-ec2 parameters"
    property-template {
        account { }
        availability-zone {
            valid-values { a b c d }
        }
        instance-type {
            valid-values { t2.micro t2.small t2.medium m3.medium m3.large m3.xlarge m3.2xlarge c3.large c3.xlarge c3.2xlarge c3.4xlarge c3.8xlarge r3.large r3.xlarge r3.2xlarge r3.4xlarge r3.8xlarge }
        }
        region {
            valid-values { us-east-1 us-west-1 us-west-2 sa-east-1 eu-west-1 eu-central-1 ap-southeast-2 ap-southeast-1 ap-northeast-1 }
        }
    }
}
sys ecm cloud-provider /Common/dnet {
    description "The dnet parameters"
}
sys ecm cloud-provider /Common/vsphere {
    description "The vsphere parameters"
    property-template {
        cloud-host-ip { }
        dhcp-network-name { }
        end-point-url { }
        node-name { }
    }
}
sys file ssl-cert /Common/f5_api_com.crt {
    cache-path /config/filestore/files_d/Common_d/certificate_d/:Common:f5_api_com.crt_212681_1
    revision 1
    source-path file:///config/ssl/ssl.crt/f5_api_com.crt
}
sys file ssl-key /Common/f5_api_com.key {
    cache-path /config/filestore/files_d/Common_d/certificate_key_d/:Common:f5_api_com.key_206989_1
    passphrase $M$Px$gsNjEwO0k/bZv5DpCbhcRdy5zfVNrJUCr0Cq1dOuL1gptesSqXmjoj9Xt4N0JVZpGqmCkE5FDtTVX5OXJgumLYMB2+VC3cauKayOpdAAROA=
    revision 1
    source-path file:///config/ssl/ssl.key/f5_api_com.key
}
sys fpga firmware-config {
    type standard-balanced-fpga
}
sys sflow global-settings http { }
sys sflow global-settings vlan { }
sys software update {
    auto-check enabled
    auto-phonehome enabled
    frequency weekly
}
sys turboflex profile-config {
    type turboflex-adc
}
wom endpoint-discovery { }
